body {
  box-sizing: border-box;
}

.game-start {
	width: 250px;
	margin: 0 auto;
	padding: 20px 0 0 0;
}
	
.game-board {
	display: flex;
	width: 330px;
	height: 330px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	border: 5px solid #ddd;
	margin: 12px auto 24px auto;
}

.game-square {
	height: 80px;
	width: 80px;
	box-sizing: border-box;
	border: 5px solid #ddd;
	font-size: 3em;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #333;
}

.game-square:hover {
  cursor: pointer;
  background-color: #4099ff;
  color: #fff;
}

.game-input {
	width: 250px;
	margin: 0 auto;
	display: block;
}

.game-info {
	font-weight: bold;
	width: 250px;
	margin: 10px auto 0 auto;
}

.leaderboard {
	width: 250px;
	margin: 15px 0;
}

.section-left, .section-right {
	float: left;
	width: 50%;
}

.color {
	background-color: #4099ff;
}

@media screen and (max-width: 588px) {
	.section-left, .section-right {
		width: 100%;
	}	

	.leaderboard {
		margin: 15px auto;
	}
}